---
import { AuthForm } from '@components/auth-form'
import MainLayout from '@layouts/main-layout.astro'
---

<MainLayout title='Login'>
  <div class='flex h-screen items-center justify-center'>
    <AuthForm
      type='login'
      client:load
    />
  </div>
</MainLayout>
