---
export const prerender = true

import { Button } from '@/components/ui/button'
import MainLayout from '@layouts/main-layout.astro'
---

<MainLayout
  title='The best way to manage your D&D campaigns'
  seo={{
    description:
      'ArcAide is an opinionated, yet flexible, way to manage your D&D campaigns and plan out engaging storylines for your players.',
  }}
>
  <main>
    <section
      class='container mx-auto flex min-h-screen flex-col items-center justify-center p-4 text-center'
    >
      <div class='max-w-2xl space-y-6'>
        <h1 class='text-primary text-4xl font-bold md:text-5xl'>
          Create more compelling D&D campaigns, easily.
        </h1>
        <p class='text-foreground text-lg md:text-xl'>
          ArcAide is an opinionated, yet flexible, way to manage your D&D
          campaigns and plan out engaging storylines for your players.
        </p>
        <Button
          variant='default'
          size='lg'
        >
          <a href='/auth/register'>Get Started</a>
        </Button>
      </div>
    </section>
  </main>
</MainLayout>
